<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.document.mapper.SituationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.document.entity.Situation">
        <id column="id" property="id"/>
        <result column="type_info_id" property="typeInfoId"/>
        <result column="unit_name" property="unitName"/>
        <result column="business_address" property="businessAddress"/>
        <result column="management" property="management"/>
        <result column="work_telephone" property="workTelephone"/>
        <result column="operating_area" property="operatingArea"/>
        <result column="numberof_servers" property="numberofServers"/>
        <result column="terminal_number" property="terminalNumber"/>
        <result column="network_access" property="networkAccess"/>
        <result column="people_employed" property="peopleEmployed"/>
        <result column="license_key" property="licenseKey"/>
        <result column="Issuing_time" property="issuingTime"/>
        <result column="certification_authority" property="certificationAuthority"/>
        <result column="inspection_time" property="inspectionTime"/>
        <result column="rules" property="rules"/>
        <result column="address" property="address"/>
        <result column="total_investment" property="totalInvestment"/>
        <result column="type" property="type" />
        <result column="status" property="status" />
        <result column="ipaddress" property="ipaddress" />
        <result column="ipnumber" property="ipnumber" />
        <result column="service" property="service" />
        <result column="program" property="program" />
        <result column="user" property="user" />
    </resultMap>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMapSituationDto" type="com.document.dto.SituationDto">
        <id column="id" property="id"/>
        <result column="type_info_id" property="typeInfoId"/>
        <result column="unit_name" property="unitName"/>
        <result column="business_address" property="businessAddress"/>
        <result column="management" property="management"/>
        <result column="work_telephone" property="workTelephone"/>
        <result column="operating_area" property="operatingArea"/>
        <result column="numberof_servers" property="numberofServers"/>
        <result column="terminal_number" property="terminalNumber"/>
        <result column="network_access" property="networkAccess"/>
        <result column="people_employed" property="peopleEmployed"/>
        <result column="license_key" property="licenseKey"/>
        <result column="Issuing_time" property="issuingTime"/>
        <result column="certification_authority" property="certificationAuthority"/>
        <result column="inspection_time" property="inspectionTime"/>
        <result column="rules" property="rules"/>
        <result column="address" property="address"/>
        <result column="total_investment" property="totalInvestment"/>
        <result column="type" property="type" />
        <result column="status" property="status" />
        <result column="ipaddress" property="ipaddress" />
        <result column="ipnumber" property="ipnumber" />
        <result column="service" property="service" />
        <result column="program" property="program" />
        <result column="username" property="username" />

        <result column="typeInfoName" property="typeInfoName" />
    </resultMap>

    <select id="situationList" parameterType="com.document.entity.Situation" resultMap="BaseResultMapSituationDto">
        select s.*,t.name as typeInfoName,u.name as username from
         situation s,
         type_info t
        ,user_info u
         where 1=1
         and
         s.type_info_id=t.id and s.status=0 and s.user = u.id
        <if test="id!=null and id!=''">and s.id=#{id}</if>
        <if test="typeInfoId!=null and typeInfoId!=''">and s.type_info_id=#{typeInfoId}</if>
        <if test="unitName!=null and unitName!=''">and s.unit_name LIKE CONCAT('%',#{unitName},'%')</if>
        <if test="user!=null and user!=''">and s.user = #{user}</if>
        <if test="typeInfoId!=null and typeInfoId!=''">and s.type_info_id = #{typeInfoId}</if>
    </select>

</mapper>
